.products-container {
  /* overflow-x: scroll; */
  flex-direction: column;
  display: flex;
  margin-top: 1rem;
  /* border: 1px solid red; */
  /* height: 50vh; */
  width: 98.5vw;
}

h2 {
  /* padding-left: 1rem; */
  padding-left: 1rem;
  /* padding-top: 0.5rem; */
}
